version: '3.9'  
services:   
  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    ports:
      - "4000:5000"
      - "4001:5001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: changeme
    volumes:
      - ./volume:/data
    command: server --address ":5001" --console-address ":5000" /data
    networks:
      - nca-network
    restart: always

  tunnel:
    container_name: tunnel-minio
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=your_cloudflare_token_here
    networks:
      - nca-network
      
  nca-toolkit:
    image: stephengpope/no-code-architects-toolkit:latest
    container_name: nca-toolkit
    ports:
      - "8080:8080"
    environment:
      - API_KEY=changeme
      - S3_ENDPOINT_URL=http://minio:5001
      - S3_ACCESS_KEY=changeme
      - S3_SECRET_KEY=changeme
      - S3_BUCKET_NAME=nca-toolkit
      - S3_REGION=None
    volumes:
      - /data/nca-toolkit/logs:/app/logs
      - /data/nca-toolkit/config:/app/config
      - /data/nca-toolkit/temp:/app/temp
    networks:
      - nca-network
    restart: unless-stopped

networks:
  nca-network:
    name: nca-network
    driver: bridge
